@using TAGO_Presentacion.Models
@model List<CandidatoModel>

<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><i class="fas fa-bars"></i> TAGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <span class="navbar-brand"><i class="fas fa-street-view"></i> @ViewBag.PO</span>
            <span class="navbar-brand"><i class="fas fa-angle-double-right"></i></span>
            <span class="navbar-brand"><i class="fas fa-location-arrow"></i> @ViewBag.PD</span>
        </div>
    </div>
</nav>
<br />
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Proveedor</th>
            <th scope="col">Conductor</th>
            <th scope="col">Vehiculo</th>
            <th scope="col">Distancia (Minutos)</th>
            <th scope="col">Precio (S/.)</th>
            <th scope="col">Seleccion</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (CandidatoModel candidato in Model)
            {
                <tr>
                    <td>@candidato.Proveedor</td>
                    <td>@candidato.Conductor</td>
                    <td>@candidato.MarcaVehiculo</td>
                    <td>@candidato.Distancia</td>
                    <td>@candidato.Precio</td>
                    <td>
                        <a href="@Url.Action("Pagar", new { proveedor = candidato.Proveedor, placa = candidato.PlacaVehiculo })" class="btn btn-lg btn-primary btn-block">
                            <i class="fas fa-address-card"></i> Elegir
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>